* {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#window-title {
    background-color: transparent;
    display: flex;
    justify-content: center;
    /*height: 62px;*/
    border: 0px;
    top: 10px;
}

.imglist .img-test {
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;
}

.thumbnail {
    justify-content: center;
    border: 0px;
    background-color: transparent;
}

.thumbnail .img-rounded {
    width: 80px;
    height: 80px;
    border: 2px solid #fff463;

}

#home-body {
}

#window-body {
    background-color: transparent;
    justify-content: center;
    align-items: center;

    /*height: 62px;*/
    border: 0px;
}

#nav-1 .nav {

    position: relative;
    border: none;
    border-radius: 10em;
    /*display: flex;*/
    list-style: none;
    background: #f5f5f5;
    box-shadow: 20px 40px 50px #00000044;
    padding: 10px;
}

#nav-1 .nav li {
    margin: 0px;

}

#nav-1 .nav li a {
    justify-content: center;
    text-align-all: center;
    position: relative;
    padding: 0.6em 2em;
    font-size: 18px;
    border: none;
    color: #333;
    display: inline-block;
    text-decoration: none;
    z-index: 3;
    width: 100%;
}

#nav-1 .slide1,
#nav-1 .slide2 {
    width: 100%;

    position: absolute;
    display: inline-block;
    height: 3em;
    border-radius: 10em;

    transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1.05);
}

#home-body .row .col-xs-6 {

}
#navbar-title {
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#nav-1 .nav .slide1 {
    /*background-color: yellowgreen;*/
    background: #fff463;


    z-index: 2;
}

#nav-1 .nav .slide2 {

    opacity: 0;
    background: #f5f5f5;
    border: 1px solid #c2d2f5;
    z-index: 1;
}

#button-hbox-father {

}

.squeeze {
    transition: all 1.5s;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {

    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
    font-family: Montserrat, sans-serif;
    line-height: 1.5;
    /*
    background: linear-gradient(160deg, #4567b2 20%, #8ab9ff 20%, #8ab9ff 80%, #4567b2 80%);
    */
    background: linear-gradient(160deg, #c2d2f5 20%, #c2d2f5 20%, #fbffa4 80%, #fbffa4 80%);
    background-attachment: fixed;
}
